# Web server
fastapi
uvicorn[standard]

# LangChain + HuggingFace
langchain
langchain_community
langchain_huggingface
langchain_core

# Database
mysql-connector-python
sqlalchemy

# Utilities
python-dotenv
